:root {
  /* Brand colors */
  --heritage-blue: #0a3370;
  --sky-blue: #009dea;
  --golden-yellow: #fdb913;
  --golden-hover: #fee097;
  --ink-blue: #00244e;
  --hero-blue: #2066a2;

  /* Font family */
  --header-font: "Oswald", sans-serif;
  --text-font: "Open Sans", sans-serif;

  /* Font size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2rem; /* 32px */
  --font-size-5xl: 2.25rem; /* 36px */
  --font-size-6xl: 4rem; /*64px */
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* Utilities */
.base-btn-style {
  padding: 0.6rem 0.9rem;
  border-radius: 3px;
  font-size: 15px;
  font-family: var(--text-font);
  font-weight: 700;
}

.mt-rem-5 {
  margin-top: 5rem !important;
}

.btn-primary {
  background-color: var(--golden-yellow) !important;
  border-color: var(--golden-yellow);
  color: var(--ink-blue) !important;
}

.btn-primary:hover {
  background-color: var(--golden-hover) !important;
  border-color: var(--golden-hover) !important;
}


.btn-secondary {
  background-color: var(--ink-blue) !important;
  border-color: var(--ink-blue);
  border-radius: 0;
  font-family: var(--text-font);
  color: #ffffff !important;
}

.btn-secondary:hover {
  background-color: var(--golden-hover) !important;
  border-color: var(--golden-hover) !important;
}
h1,
h2 {
  font-family: var(--header-font) !important;
  font-weight: 700;
}

h2 {
  color: var(--heritage-blue);
  font-size: var(--font-size-4xl);
}
h3 {
  color: var(--heritage-blue);
  font-size: var(--font-size-lg);
  font-family: var(--text-font);
  font-weight: 700;
}

p,
li {
  font-family: var(--text-font);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: #666666;
}

a.head-link {
  font-size: var(--font-size-md);
  font-weight: 700;
  line-height: 24px;
  font-family: var(--text-font);
  color: #fff;
  text-decoration: none;
}

a.head-link:hover,
a.head-link:focus {
  text-decoration: underline #70abdb 2px;
  text-underline-offset: 5px;
  cursor: pointer;
  color: #fff;
}
/* NAVIGATION */

header {
  background-color: var(--heritage-blue);
}

/* Finish your Degree*/

.degree-section {
  width: 100%;
  height: 567px;
  background-image: url(https://client-data.knak.io/production/email_assets/5fd10b569d941/GBkvNOWe7MoburyhwtWCeOH5RQvZwnkDF7JEGdzX.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.finish-text {
  transform: translate(0%, 85%);
}

.h1-finish {
  font-size: var(--font-size-6xl);
  color: var(--heritage-blue);
}

.p-finish-main {
  font-size:  var(--font-size-5xl);
  color: var(--heritage-blue);
}
.p-term {
  font-size: var(--font-size-lg);
  color: var(--heritage-blue);
}

/* Get started Section */

.text-container-mw {
  max-width: 500px;
}

.form-update-contact {
  background-color: #efefefff;
  padding-left: 2rem;
}

.title-form-block {
padding: 2rem;
}

.form-block {
  padding: 0 2rem 2rem ;
}

.form-update-contact > .form-block >.mb-3 > input {
  max-width: 304px;
  font-family: "Arial"!important;
  font-size: 1em;
  color: #32325d!important;
  border: 1px solid #8e929f!important;
  border-radius: 0.25rem!important;
  background-color: #f6f9fc!important;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #555555;
}

label::after {
  content: " *";
  color: #eb0000;
}

.form-title-h3 {
font-family: Arial, Helvetica, sans-serif;
font-size: var(--font-size-2xl);
color: #555
}

.p-confirm-block {
font-size: 11px

}


/* call us section */

.get-started-call1{

  background-color: var(--ink-blue);
  color: white !important;
  padding: 2rem;
  margin-bottom: 5rem;
}

.p-gs-1 {
  color: white;
}

.get-started-h3 {
  color:white;
  font-family: var(--header-font);
  font-size: var(--font-size-2xl)
}

.highlighted {
  color: var(--golden-yellow);
}

.get-started-call2{

  background-color: #efefef;
  color: var(--ink-blue) !important;
  padding: 2rem;
}


/* Campus Details Section */

.dotted-line {
  border-bottom: dotted 1px;
}

.chat-btn{
  position: fixed;
  transform: rotate(-90deg);
  right: -22px;
  top: 70vh;
  z-index: 1;
  font-weight: 600;
  font-size: var(--font-size-md);
}


.snhu-logo-footer{
  height: auto;
  width: 100%;
}

.term-start {
  display: none;
}

.mobile-img {
  display: none;
}

/* MEDIA QUERY */

@media only screen and (max-width: 40rem) {
  .call-section {
    background-position: center;
    height: auto;
    background: #efefef;
  }

  .hero-banner-mobile {
    display: flex;
  }

  
  .mx-4-mobile {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
}

/* Medium devices (768px) */
@media screen and (max-width: 48rem) {
  .nav-container {
    justify-content: center !important;
  }

  .degree-section {
    background-image: url(//client-data.knak.io/production/email_assets/5fd10b569d941/tWfKa1sZmV7CHNjL2HGS4EBewjBHOGtTMHGh6zBD.png);
    height: 500px;
  }

  .finish-text{
    transform: translate(0);
    margin-top: 2rem;
  }

  .h1-finish {
    font-size: var(--font-size-4xl);
    text-align: center;
  }

  .p-finish-main {
    font-size: var(--font-size-xl);
    text-align: center;
  }

  .get-started-call1 {
    margin: 0;
  }
  

  .p-term {
    display: none;
  }

  .term-start {
    display: inherit;
    background: var(--golden-yellow);
  }
  .base-btn-style {
    width: 100%;
    margin-bottom: 1rem;
  }

  .video-snhu{
    display: none;
  }

  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  
  .mobile-img {
    display: inherit;
  }

  .desktop-img {
    display: none;
  }

  .flex-direct {
    flex-direction: column-reverse;
  }
}


/* Largest devices such as desktops (1280px and up)  */
@media only screen and (max-width: 80em) {
  
  .finish-text{
    transform: translate(0, 43%);
    margin-top: 2rem;
  }
}
